/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 3, 2016, 10:52:47 AM
    Author     : oriwi_000
*/

input[id='logout'][type='submit']{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    border: 3px solid darkblue;
    border-radius: 10px;
    box-shadow: 6px 6px 0px rgba(0,0,0,0.4);
}